#contact-response div {
  width: 100%;
  display: block;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 10px;
  border: #666 1px solid;
  margin-bottom: 10px;
}

.bcf-error {
  background: #f00000;
  color: #fff;
}

.bcf-success {
  background: #00f000;
  color: #333;
}

#human-verify-input {
  width:160px;
  margin-right: 10px;
}

.bcf-question {
  font-family: courier, Fixed, monospace;
  display: inline-block;
}

.bcf-submit {
  display: inline-block;
}
