#contact-response div {
  width: 100%;
  display: block;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 10px;
  border: #666 1px solid;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#contact-respond {
clear: both;
width: 90%;
margin: 0 auto;
}

#contact-respond #human-verify-input {
  width: 160px;
  margin-right: 10px;
  display: inline-block;
}

#contact-respond textarea, #contact-respond input[type="text"], #contact-respond input[type="email"] {
  width: 100%;
}

.contact-error {
  padding: 5px 9px;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
}

.contact-success {
  padding: 5px 9px;
  border: 1px solid green;
  color: green;
  border-radius: 3px;
}

#contact-response form span{
  color: red;
}

.bcf-error {
  background: #f00000;
  color: #fff;
}

.bcf-success {
  background: #00f000;
  color: #333;
}

#human-verify-input {
  width:160px;
  margin-right: 10px;
}

.bcf-question {
  font-family: courier, Fixed, monospace;
  display: inline-block;
}

.bcf-submit {
  display: inline-block;
}
